:root{
    --primary-color: #f8444a;
    --border-color: #e0e0e0;
    --el-input-bg-color: transparent;
    --el-input-border-radius: 50%;
    --el-color-primary:  #f05358;
    --text-default-color: #111111;
    --text-subtitle-color: #666;
}
